        <footer class="footer">
            <div class="footer-inner">
                <p class="pull-right"><a href="index.html#"><i class="icon-arrow-up"></i> Back to top</a><br /></p>

                <div class="row">
                    <ul class="nav nav-list">
                    <h4>Social</h4>
                        <li><a href="https://twitter.com/rewiredimagine"><span class="icon icon-social-new icon-twitter"></span>Twitter</a></li>
                    </ul>

                    <ul class="nav nav-list">
                    <h4>Rewired Family</h4>
                        <li><a href="http://rewiredstate.org">Rewired State</a></li>
                        <li><a href="https://rewiredreality.com">Rewired Reality</a></li>
                        <li><a href="https://youngrewiredstate.org">Young Rewired State</a></li>
                        <li>Rewired Imagination</li>
                    </ul>

                    <ul class="nav nav-list">
                    <h4>Legals</h4>
                        <li><a href="/privacy-policy/">Privacy policy</a></li>
                        <li><a href="/terms-and-conditions/">Terms &amp; Conditions</a></li>
                        <li><a href="/cookies-policy/">Cookies policy</a></li>
                    </ul>

                    <ul class="nav nav-list">
                    <h4>Us</h4>
                        <li><a href="/contact/">Contact Us</a></li>
                        <li><a href="/company-info/">Company Info</a></li>
                    </ul>
                </div> <!-- close row -->
            </div> <!-- footer-inner -->
        </footer>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="media/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="media/js/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="media/js/main.js%3Ftime=1381856927"></script>

        <!-- Google Analytics code -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </body>

</html>
