<!DOCTYPE html><html>

    <head>

        <title>Rewired Imagination - The Global Ideation Platform</title>        
        <meta charset="UTF-8">
        
        <link rel="shortcut icon" href="http://rewiredimagination.com/media/css/themes//images/favicon.ico" type="image/x-icon" >

        <link href="media/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" >
<link href="media/css/font-awesome.css" media="screen" rel="stylesheet" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" media="screen" rel="stylesheet" type="text/css" >
<link href="media/css/main.css%3Ftime=1381856927.css" media="screen" rel="stylesheet" type="text/css" >
<link href="media/css/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" >
        
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    </head>

    <body>
          
          <div class="navbar topbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="index.html">Rewired Imagination</a>
            <ul class="nav pull-right">
                <li><a href="bounty.html">Challenges</a></li>
<li class="divider-vertical"></li><li><a href="how-it-works.html">How it works</a></li>
<li class="divider-vertical"></li><li><a href="faq.html">FAQs</a></li>
<li class="divider-vertical"></li><li><a href="c/login.html">Login</a></li>            </ul>
        </div>
    </div>
</div>
            
          <div class="container main_container">

            <div class="main_content">
            
                
                
                


<div class="row">

        
        <div class="getstartedtext">
        	<p>Rewired Imagination is an online ideation platform, launched in July 2013, from <a href="http://rewiredstate.org">Rewired State</a>, open to everyone, to respond to challenges made by people with ideas, who want to test the waters or find out more before prototyping starts.</p>

            	<p>The main emphasis is based around ideas, community, the idea of experts, and knowledgeable judges reviewing submissions made.</p>

            	<p>If you want to see what others think of your idea, see what's Imaginable, by others.</p>

            	<!-- <p>Join [ names ] in raising your challenge on Rewired Imagination</p> -->

		<a class="btn-getstarted" href="challenge.html">I've got an idea &rarr;</a>
		<!-- <a class="btn-getstarted" href="/c/login">View My Bounties &rarr;</a> -->
		    <a class="btn-getstarted" href="bounty.html">View Active Challenges &rarr;</a>
        </div>

</div>

<hr>

<div class="row">
    <div class="span4">
        <h4>How it Works</h4>
        <p><a href="how-it-works.html">Step-by-step guide</a>.</p>
    </div>

<!-- ?? display if not logged in?
    <div class="span4 last">
        <h4>Who's here</h4>
        <p><a href="/meet-developers">Our users</a>.</p>
    </div>
</div>

                
            </div>
                        
        </div>

        <footer class="footer">
    <div class="footer-inner">
    	<div class="row">
             <ul class="nav nav-list">
                 <li><a href="mailto:hello@rewiredimagination.co.uk">Contact Us</a></li>
                 <li><a href="https://twitter.com/rewiredimagine">Follow us on Twitter</a></li>
	         <!--<li><a href="/contact">Contact us</a></li>-->
             </ul>

             <ul class="nav nav-list">
                 <li><a href="http://rewiredstate.org">Rewired State</a></li>
                 <li><a href="http://youngrewiredstate.org">Young Rewired State</a></li>
             </ul>

             <ul class="nav nav-list">
			<li><small>Rewired Imagination is a trading name owned and operated by <a href="http://opencorporates.com/companies/gb/07149780">Rewired State Ltd.</a>.</small></p></li>
             </ul>
	</div>

	<!--
		<div class="row">
		    <ul class="nav nav-list">
			<li><a href="/privacy-policy">Privacy policy</a></li>
			<li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
			<li><a href="/cookies-policy">Cookies policy</a></li>
		    </ul>
		</div>
	-->
             	<p class="pull-right"><a href="index.html#"><i class="icon-arrow-up"></i> Back to top</a><br /></p>
         </div>
     </div> 
</footer>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="media/js/bootstrap.min.js"></script>
<script type="text/javascript" src="media/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="media/js/main.js%3Ftime=1381856927"></script>
        <!-- Google Analytics code -->
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </body>

</html>
