        <div class="navbar topbar">
            <div class="navbar-inner">

                <div class="container">
                    <a class="brand" href="/">Rewired Imagination</a>
                        <ul class="nav pull-right">
                            <li><a href="/features/">Features</a></li>
                            <li><a href="/case-studies/">Who's using it</a></li>
                            <li><a href="/costs/">Costs</a></li>
                            <li><a href="/documents/">Documents</a></li>
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/press/">Press</a></li>
                            <li><a href="/contact/">Contact Us</a></li>
                        </ul>
                </div><!-- container -->
            </div><!-- navbar-inner -->
        </div><!-- navbar topbar -->
