{% if page.layout == 'photo_layout' %}
        <meta name="twitter:card" content="photo">
    {% if page.image_lg %}
        <meta name="twitter:image" content="{{page.image_lg}}?w=560">
        <meta name="twitter:image:width" content="{{page.photo_width}}">
        <meta name="twitter:image:height" content="{{page.photo_height}}">
    {% endif %}
{% else %}
        <meta name="twitter:card" content="summary">
    {% if page.image_lg %}
        <meta name="twitter:image" content="/{{page.image_lg}}?w=120">
    {% endif %}
{% endif %}
        <meta name="twitter:site" content="@rewiredimagine">
        <meta name="twitter:creator" content="@rewiredimagine">
        <meta name="twitter:url" content="http://rewiredimagination.com{{page.url}}">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 150 }}">
